/* Don't ask me why I name it like this... */



.logoContainer {
   position: absolute;
   bottom: 0;
}
.logoContainer a .insta {
    width: 40px;
    height: 40px;
}
.logoContainer a .discord {
    width: 50px;
    height: 40px;
}

.titleSection{
    height: 500px;
    width: auto;
    padding-top: 100px;
    padding-bottom:100px;
    margin-right:0px;
    margin-left:0px;
    background: url(Graphics/backGrad.svg);
    background-size:cover;
    background-repeat: no-repeat;
}

.titleSection .title {
    vertical-align: top;
    display:inline-block;
    text-align: left;
    color: #FFFFFF;
    margin: auto;
    width: 60%;

}

.titleSection .titlefont {
    position: relative;
    font-family: inter, sans-serif;
    font-weight: 600;
    font-size: 55px;
    

}

.titleSection .subtitlefont{
    position: relative;
    font-family: inter, sans-serif;
    font-size: 36px;
    font-weight: 300;
    padding-top: 80px;
}

.titleSection .image{
    margin-top:25px;
    display:inline-block;
    vertical-align: top;
    width:30%;
    border-radius: 150px;
    width:20%;
    height:auto;
    max-height: 100%;
}



.aboutSection{
    height: 400px;
    width: auto;
    padding-top: 100px;
    padding-bottom:0px;
    
}

.aboutSection .text {
    float:right;
    vertical-align: top;
    text-align: left;
    color: #FFFFFF;
    margin: auto;
    width: 40%;
    padding-right: 90px;

}

.aboutSection .titlefont {
    position: relative;
    font-family: inter;
    font-weight:600;
    font-size: 48px;
    margin-bottom: 0;
    

}

.aboutSection .subtitlefont{
    position: relative;
    font-family: inter, sans-serif;
    font-size: 15px;
    font-weight: 200;
    padding-top: 5px;
    line-height: 35px;
}

.aboutSection .image{
    float:left;
    margin-top:40px;
    vertical-align: top;
    width:35%;
    height:auto;
    padding-left: 90px;

}






.anotherSection{
    height: 450px;
    width: auto;
    padding-top: 25px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    
}

.anotherSection .text {
    float:left;
    vertical-align: top;
    text-align: left;
    color: #FFFFFF;
    margin: auto;
    width: 40%;
    padding-left: 90px;

}

.anotherSection .titlefont {
    position: relative;
    font-family: inter;
    font-weight:600;
    font-size: 40px;
    margin-bottom: 0;
    

}

.anotherSection .subtitlefont{
    position: relative;
    font-family: inter, sans-serif;
    font-size: 15px;
    font-weight: 200;
    padding-top: 5px;
    width: 90%;
    line-height: 35px;
}

.anotherSection .image{
    float:right;
    margin-top:40px;
    vertical-align: top;
    width:35%;
    height:auto;
    padding-right: 90px;

}
.anotherSection .orangeLine{
    width:50%;
    height:100%;

}
.divideLine{
    padding-top:100px;
    width: 95%;
}

/*About UCF ACM with rainbow line under and picture to the right */
/* Description under*/

/*More Text for about section with a picture to the right*/


/*Divider Line */


/*Boxes for upcoming events workshops and projects*/

/*Each box will include a title, text, and a description*/



/*Divider Line */
/*Merch boxes */
/*Within each box there should be a picture spot, title of the product, price, and link to the merch page */


/* These are the links */
      