.mainHeader {
  color: rgba(255, 255, 255, 0.80);
  text-align: center;
  font-family: Inter;
  font-size: 55px;
  font-style: normal;
  font-weight: 700;
  line-height: 66px; /* 120% */
  text-transform: uppercase;
}

.projectElement {
  list-style-type: none;
  margin: auto;
  display: flex; /* Use flexbox to align items horizontally */
  justify-content: center; /* Center horizontally */
  margin-right: 137px;
  /* This margin is (width of info box + img + space btwn them)/8 */
} 

/* Additional rule to remove default left-padding on <ul> */
ul {
  padding-left: 0;
}

.projectInfoBox {
  margin-left: auto;
  margin-bottom: 5%;
  width: 686px;
  height: 360px;
  flex-shrink: 0;
  border-radius: 15px;
  border: 2px solid rgba(255, 255, 255, 0.20);
  background: rgba(51, 51, 51, 0.70);
}

.projectImg {
  margin-left: 10px;
  border-radius: 15px;
  border: 2px solid rgba(0, 0, 0, 1);
  height: 360px;
  display: block;
  width: 400px;
  background: url(<path-to-image>), lightgray 0px -335.426px / 100% 391.622% no-repeat;
}

.projectDetails {
    text-align: left;
    margin-left: 10px;  /* Adds whitespace to the left of the details for spacing */
    display: block;
}

.projectName {
  font-size: 25px;
}

.projectLeaderNames {
  font-size: 20px;
}

.projectMeetingSchedule {
  font-size: 20px;
}

.projectDescription {
  font-size: 20px;
}

/* rotates acm logo on hover*/
.Acm_Logo:hover
{
    cursor: default;
    transform: rotate(360deg);
    transition: transform 0.9s ease-in-out;
}

/* Scroll fade effect made by Chat-GPT */
.fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
}
