body {
  margin: 0;
  padding: 0;
  background-color: lightgray;
  background-repeat: no-repeat;
  background-attachment: fixed;
  border: 0px;
  text-align: center;
}

.main {
  text-align: center;
  background-color: grey;
}

.background_n_logo {
  background-image: url("coder.gif");
  padding-bottom: 30px;
  padding-top: 30px;
  overflow: hidden;
}

.Acm_Logo {
  display: block;
  height: auto;
  width: 92px;
  margin-left: auto;
  margin-right: auto;

}

.btn_n_background {
  padding: 8px;
  display: flex;
  align-content: row;
  justify-content:space-evenly;
  flex-flow:wrap;

}



.btn {
  display:block;
  width:150px;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  color: #000000;
  padding: 10px;
  border-top: 1px solid darkgray;
  border-bottom: 1px solid darkgray;
  border-left: 1px solid darkgray;
  border-right: 1px solid darkgray;
  border-radius: 30px;
  margin: 10px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.15s,
    color 0.15s;
  float:left;
}
/*enlarges buttons on hover*/
.btn:hover {
  transform: scale(1.12);
}
.dropdown {
  position: relative;
}
.dropdown-button{
  display:block;
  width:150px;
  max-width: 100%;
  font-family: Roboto, sans-serif;
  font-size:15px;
  color: #000000;
  border-top: 1px solid darkgray;
  border-bottom: 1px solid darkgray;
  border-left: 1px solid darkgray;
  border-right: 1px solid darkgray;
  padding: 8px;
  border-radius: 30px;
  margin: 10px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.15s,
    color 0.15s;
  float:left;
  z-index: 1;
}

.homebtn {
  background-image: linear-gradient(to right,#8AD4EF,#979EF5);
}

.leadershipbtn {
  background-image: linear-gradient(to right,#979EF5,#DA66AE);
}

.projectsbtn {
  background-image: linear-gradient(to right,#DA66AE,#F36396);
}

.workshopsbtn {
  background-image: linear-gradient(to right,#F36396,#F75B55);
}

.eventsbtn {
  background-image: linear-gradient(to right,#F75B55,#FB7A3A);
}

.morebtn {
  background-image: linear-gradient(to right,#FB7A3A,#FD9E4D);
}

.sponsorshipsbtn {
  background-image: linear-gradient(to bottom,#FD9E4D,#E5CD40);
}

.merchandisebtn {
  background-image: linear-gradient(to bottom,#E5CD40,#9EDF5E);
}

.calendarbtn {
  background-image: linear-gradient(to bottom,#9EDF5E,#9CD998);
}

.importantlinksbtn {
  background-image: linear-gradient(to bottom,#9EDF5E,#9CD998);
}


/* Dropdown Button */

.dropbtn {
  padding: 10px;
  font-size: 16px;
  border: none;
  display:block;
  margin: 10px;
}



/* Dropdown Content (Hidden by Default) */

.dropdown-content {
  display: none;
  position: absolute;
  align-content: column;
  justify-content: space-between;
  width: 100px;
  top: 3.35rem;

}

/* Links inside the dropdown */


.dropdown-content a {
  display:block;
  width:100px;
  border-top: 1px solid darkgray;
  border-bottom: 1px solid darkgray;
  border-left: 1px solid darkgray;
  border-right: 1px solid darkgray;
  font-family: Roboto, sans-serif;
  color: #000000;
  font-size: 14px;
  padding: 10px;
  border-radius: 30px;
  margin-left: 26px;
  margin-bottom: 10px;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.15s,
    color 0.15s;
  float:left;
  background-color:white;
}


/* Change color of dropdown links on hover */

.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-button{background-color:lightgrey}

.dropdown:hover .dropdown-content {display: block;}



.btn:hover {
  background-color: lightgrey;
}

.btn:active {
  transform: scale(0.98);
  opacity: 0.9;
}

.bottom {
  font-family: Helvetica, sans-serif;
  text-align: center;
  font-size: 20px;
  text-decoration-color:black ;
}
.btn_insta {
  position: relative;
  top: 500px;
  left: 47%;
  display: inline-block;
  height: 40px;
  width: 40px;
  margin-left: auto;
  margin-right: auto;
}

.btn_discord {
  position: relative;
  top: 500px;
  left: 48%;
  display: inline-block;
  height: 40px;
  width: 50px;
  margin-left: auto;
  margin-right: auto;
}



/* rotates acm logo on hover*/
.spin2 {
  animation:spin 2.5s linear infinite;
  transition-property: transform;
   
}

@keyframes spin{
	from{transform:rotate(0deg)}
	to{transform:rotate(360deg)}	
}



