body {
  margin: 0;
  padding: 0;
  background-color: white;
  background-repeat: no-repeat;
  background-attachment: fixed;
  border: 0px;
}

/* Main function for header of the website*/
.main {
  text-align: center;
  background-color: lightgray;
}

/* Css for the top part which includes the logo and gif */
.background_n_logo {
  background-image: url("coder.gif");
  padding-bottom: 20px;
  padding-top: 20px;

}

/* css for the logo image itself */
.Acm_Logo {
  display: block;
  height: 80px;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  
  

}

/* Code for the buttons intial placement - Doesnt really involve the background*/
.btn_n_background {
  padding-bottom: 10px;
  display: flex;
  align-content: row;
  justify-content:space-evenly;
  flex-flow:wrap;

}


/* css code for buttons */
.btn {
  display:block;
  width:150px;
  font-family: Roboto, sans-serif;
  color: #000000;
  padding: 8px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-radius: 30px;
  margin: 10px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.15s,
    color 0.15s;
  float:left;
}

/* css code for the dropdown button itself */
.dropdown-button{
  display:block;
  width:150px;
  max-width: 100%;
  font-family: Roboto, sans-serif;
  color: #000000;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  padding: 8px;
  border-radius: 30px;
  margin: 10px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.15s,
    color 0.15s;
  float:left;
  z-index: 1;
}

/* Code for the colorgradients used for the buttons */
.homebtn {
  background-image: linear-gradient(to right,#8AD4EF,#979EF5);
}

.leadershipbtn {
  background-image: linear-gradient(to right,#979EF5,#DA66AE);
}

.projectsbtn {
  background-image: linear-gradient(to right,#DA66AE,#F36396);
}

.workshopsbtn {
  background-image: linear-gradient(to right,#F36396,#F75B55);
}

.eventsbtn {
  background-image: linear-gradient(to right,#F75B55,#FB7A3A);
}

.morebtn {
  background-image: linear-gradient(to right,#FB7A3A,#FD9E4D);
}

.sponsorshipsbtn {
  background-image: linear-gradient(to bottom,#FD9E4D,#E5CD40);
}

.merchandisebtn {
  background-image: linear-gradient(to bottom,#E5CD40,#9EDF5E);
}

.calendarbtn {
  background-image: linear-gradient(to bottom,#9EDF5E,#9CD998);
}

.importantlinksbtn {
  background-image: linear-gradient(to bottom,#9EDF5E,#9CD998);
}




/* Code for the buttons when hovered over */
.btn:hover {
  transform: scale(1.05);
  opacity: 0.9;
}

/* Code for when the button is pressed */
.btn:active {
  transform: scale(0.98);
  opacity: 0.9;
}

/* Refers to the text directly under the buttons */
.bottom {
  font-family: Helvetica, sans-serif;
  text-align: center;
  font-size: 20px;
  text-decoration-color:black ;
}

/* Code for the instagram link at the bottom of the page */
.btn_insta {
  position: relative;
  top: 500px;
  left: 47%;
  display: inline-block;
  height: 40px;
  width: 40px;
  margin-left: auto;
  margin-right: auto;
}

/* Code for the Discord link at the bottom of the page */
.btn_discord {
  position: relative;
  top: 500px;
  left: 48%;
  display: inline-block;
  height: 40px;
  width: 50px;
  margin-left: auto;
  margin-right: auto;
}



/* Dropdown Button Section */

/* When the cursor hovers over the dropdown menu or dropdown buttons the dropdown menu button stays upscaled */
.dropdown:hover .dropdown-button {
  transform: scale(1.05);
  opacity: 0.9;
}

/* Dropdown Content (Hidden until the user hovers over the more button) */
.dropdown-content {
  display: none;
  position: relative;
  align-content: column;
  justify-content: space-between;
  width: 100px;
}


/* Links inside the dropdown */
.dropdown-content a {
  display:block;
  width:100px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  font-family: Roboto, sans-serif;
  color: #000000;
  font-size: 11px;
  padding: 8px;
  border-radius: 30px;
  margin-left: 26px;
  margin-bottom: 10px;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.15s,
    color 0.15s;
  float:left;
  background-color:white;
}




/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-button{transform: scale (1.2)}

.dropdown:hover .dropdown-content {display: block;}

.dropdown-content a:hover {
  transform: scale(1.05);
  opacity: 0.9;
}
.dropdown:hover .dropdown-button {
  transform: scale(1.05);
  opacity: 0.9;
}
/* End of Dropdown Button Section */

.imgbody {
  display:flex;
  justify-content: center;
  gap:2rem;
}

.spin2 {
    transition-duration: 2s;
    transition-property: transform;
    width:5rem;
    height:5rem;
}
.spin2:hover {
    transform: rotate(360deg);
}