.workshops {
  background: #282828;
}

.mainHeader {
  color: rgba(255, 255, 255, 0.80);
  text-align: center;
  font-size: 55px;
  font-style: normal;
  font-weight: 700;
  line-height: 66px; /* 120% */
  text-transform: uppercase;
}

.subHeading {
  display: flex;
  margin-left: 33%;
  width: 655px;
  height: 55px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: rgba(255, 255, 255, 0.80);
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 43.2px; /* 120% */
}

.workshopHeader {
  text-align: center;
  font-size: 35px;
}

.workshopImg {
  margin-left: 10px;
  border-radius: 15px;
  background: url(<path-to-image>), lightgray 0px -335.426px / 100% 391.622% no-repeat;
}

.workshopListElement {
  margin-bottom: auto;
  list-style-type: none; /* Gets rid of the bullet point that is normally present in a list element */
  display: flex;
  justify-content: center;
}

.workshopDetails {
  display: inline-block;
  width: 685px;
  height: 360px;
  flex-shrink: 0;
  border-radius: 15px;
  border: 2px solid rgba(255, 255, 255, 0.20);
  background: rgba(51, 51, 51, 0.70);
}

.workshopName {
  font-size: 25px;
  color: white;
}

.workshopDate {
  display: block;
  font-size: 20px;
}

.workshopDescription {
  font-size: 20px;
  color:white;
}

/* rotates acm logo on hover*/
.Acm_Logo:hover
{
    cursor: default;
    transform: rotate(360deg);
    transition: transform 1.0s ease-in-out;
}
